* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(50deg, #00dbde 0%, #fc00ff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 2px 5px yellow;
    width: 400px;
    max-width: 100%;
    overflow: hidden;
}

.cabecalho {
    background-color: #959090;
    padding: 20px;
}

.frmCadastro {
    padding: 20px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #9d9696;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}

.form-control i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.form-control small {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}


.btnBotao1{
    background-color: #27643c;
    border: 2px solid #27643c;
    color: #fff;
    font-size: 14px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}
.btnBotao2{
    background-color: #e74c3c;
     border: 2px solid #e74c3c;
    color: #fff;
    font-size: 14px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}
.btnBotao3 {
    background-color: #eee308;
    border: 2px solid #eee308;
    color: #fff;
    font-size: 14px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    
}
/*
       Erro e sucesso
*/
.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}
.form-control.success i.fa-check-circle {
    border-color: #2ecc71;
    visibility: visible;
}
.form-control.reset i.fa-check-circle {
    border-color: #0a0a0a;
    visibility: hidden;
}
.form-control.error i.fa-exclamation-circle {
    border-color: #e74c3c;
    visibility: visible;
}
.form-control.error small {
    border-color: #e74c3c;
    visibility: visible;
}
