body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.Principal{
    height: auto;
    position: relative;
    display: flex;
    margin: 5px;
}
.itemPrincipal{
    position: absolute;
    text-align: center;
    transition: 2s;
}
.Cabecalho{
    height: 80px;
    margin: 5px;
    text-align: center;
    background-color: #093caa;
    color: white;
    display: flex;
}
.Rodape{
    height: 75px;
    margin: 5px;
    background-color: #093caa;
    display: flex;
}
.itemRodape{
    color: white;
}
.Noticias{
    position: relative;
    margin: 2px;
    width: 40%;
    display: flex;
}
.Locais{
    display: flex;
    margin: 2px;
    width: 60%;
}   
section{
    display: flex;
}
