body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.Principal{
    height: auto;
    position: relative;
    display: flex;
    margin: 5px;
}
.Cabecalho{
    height: 80px;
    margin: 5px;
    position: relative;
    text-align: center;
}
.Rodape{
    height: 75px;
    margin: 5px;
    background-color: black;
}
.itemRodape{
    text-decoration: white;
}
.Noticias{
    position: relative;
    margin: 2px;
}
.Locais{
    position: relative;
    margin: 2px;
}   
section{
    display: flex;
}
