body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.principal{
    height: auto;
    position: relative;
    margin: 2px;
}
.Cabecalho{
    padding: 5px;
    height: 80px;
    background-color: #093caa;
    color: white;
    display: grid;
    grid-template-columns: 20% 65% 15%;
    align-items: center;
}
.itemCabecalho{
    padding: 5px;
    text-align: center;
    display: flex;
}
.Rodape{
    color: white;
    text-align: center;
    height: 15%;
    background-color: #093caa;
} 
.conteudo   {
    align-items: center;
    display: grid;
    grid-template-columns: 75% 25%;
}
.links:visited{
    color: white;
}
.links{
    color: black;
}
.links:hover{
    color: cornflowerblue;
}
img{
    height: 200px;
    width: 300px;
}
